<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initialize-scale=1.0">
        <title>{% block title %}Recipe Book{% endblock %}</title>
        {% block styles %} {% endblock %}
    </head>
    <body>
        <h1>{% block header %}Recipe Book{% endblock %}</h1>

        {% if request.user.is_authenticated %}
            <h3>Welcome, {{ request.user.username }}!</h3>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <!--<a href="{% url 'login' %}">Login</a>-->
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        {% endif %}

        <h4>{{ object.page_name }} Page</h4>


        <!--
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
        -->
        {% block content %} {% endblock %}
    </body>
</html>