{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h4> Recipe Detail Page</h4>
    <p>Recipe {{ object.name }}</p>
    <p>Made by {{ object.author }}</p>
    <p>Created on: {{ object.created_on }} | Updated on: {{ object.updated_on }}</p>
    <ul>
        {% for ingredient in object.ingredients.all %}
            <li>{{ingredient.quantity}} {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
    <form action="POST" enctype="multipart/form-data"></form>
    <a href="{% url 'ledger:add-image' pk=object.pk %}">Add Image</a>
    <br>
    <br>
    {% if object.images.all %}
        {% for image in object.images.all %}
            <img src="{{ image.recipe_image.url }}" alt="{{ image.description }}">
        {% endfor %}
    {% endif %}
    <br>
    <br>
    <a href="{% url 'ledger:recipes/list' %}">Back to Recipe List</a>
    
    

{% endblock %}
