{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h4> Recipe Detail Page</h4>
    <p>Recipe {{ object.name }}</p>
    <p>Made by {{ object.author }}</p>
    <p>Created on: {{ object.created_on }} | Updated on: {{ object.updated_on }}</p>
    <ul>
        {% for ingredient in object.ingredients.all %}
            <li>{{ingredient.quantity}} {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
    <form action="POST" enctype="multipart/form-data"></form>
    {% if object.images.first %}
        <img src="{{ object.images.first.recipe_image.url }}" alt="{{ object.images.first.description }}">
    {% endif %}
    
    

{% endblock %}
